# Ignore everything
# *
outputs
/.idea
*__pycache__*

env
data
test
best_model_keras
weights
output
output_2021
val
output_lstm
weights_lstm
output_ha
csv
indicator_data_table_m15_2021.csv
indicator_data_table_m15_2022.csv
data_label1
output_label
data_xau_h1
data_eur_h1
data_xau_2
trading_sequences
data_xau
trading_signals