absl-py==2.1.0
astunparse==1.6.3
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.55.0
gast==0.4.0
google-auth==2.36.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.68.0
h5py==3.12.1
idna==3.10
imbalanced-learn==0.12.4
imblearn==0.0
joblib==1.4.2
keras==2.13.1
kiwisolver==1.4.7
libclang==18.1.1
loguru==0.7.2
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.2
mplfinance==0.12.10b0
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.3
pillow==11.0.0
protobuf==4.25.5
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyMySQL==1.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
SQLAlchemy==2.0.36
stockstats==0.6.2
ta==0.11.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm==4.67.0
typeguard==2.13.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.16.0
